VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key
VITE_WALLET_BTC=bc1qy0uthkh50rdajnzlq8cqfgyea9fx3twtpcycqh
VITE_WALLET_ETH=0x9825ce02321860d248DDab72BC44A30810634E1E
VITE_WALLET_SOL=9buLs73w2UqCWCwUPcqn2QitkZ2gJU5sUTzmkkNPcCyr
VITE_WALLET_LTC=ltc1qusj23jzqda7tq0lk578hl9xhz4hktrgq7pnyvq
VITE_WALLET_TRX=TRdhtFumJDc68QipY5YdWVXrPngjzEFN9V
VITE_WALLET_USDT_TRC20=TRdhtFumJDc68QipY5YdWVXrPngjzEFN9V
